^{:start [1 1 0], :end [19 2 244]}
[^{:start [1 1 0], :end [7 2 123]}
 {:tag :query-definition
  :name ^{:start [1 7 6], :end [1 21 20]} FragmentTyping
  :selection-set
  [^{:start [2 3 25], :end [6 4 121]}
   {:tag :selection-field
    :name ^{:start [2 3 25], :end [2 11 33]} profiles
    :arguments
    [^{:start [2 12 34], :end [2 41 63]}
     {:tag :argument
      :name ^{:start [2 12 34], :end [2 19 41]} handles
      :value
      ^{:start [2 21 43], :end [2 41 63]}
      {:tag :list-value
       :values
       [^{:start [2 22 44], :end [2 28 50]}
        {:tag :string-value
         :image "\"zuck\""
         :value "zuck"}
        ^{:start [2 30 52], :end [2 40 62]}
        {:tag :string-value
         :image "\"cocacola\""
         :value "cocacola"}]}}]
    :selection-set
    [^{:start [3 5 71], :end [3 11 77]}
     {:tag :selection-field
      :name ^{:start [3 5 71], :end [3 11 77]} handle}
     ^{:start [4 5 82], :end [4 20 97]}
     {:tag :fragment-spread
      :name ^{:start [4 8 85], :end [4 20 97]} userFragment}
     ^{:start [5 5 102], :end [5 20 117]}
     {:tag :fragment-spread
      :name ^{:start [5 8 105], :end [5 20 117]} pageFragment}]}]}
 ^{:start [9 1 125], :end [13 2 184]}
 {:tag :fragment-definition
  :name ^{:start [9 10 134], :end [9 22 146]} userFragment
  :on
  ^{:start [9 23 147], :end [9 30 154]}
  {:tag :basic-type
   :name ^{:start [9 26 150], :end [9 30 154]} User}
  :selection-set
  [^{:start [10 3 159], :end [12 4 182]}
   {:tag :selection-field
    :name ^{:start [10 3 159], :end [10 10 166]} friends
    :selection-set
    [^{:start [11 5 173], :end [11 10 178]}
     {:tag :selection-field
      :name ^{:start [11 5 173], :end [11 10 178]} count}]}]}
 ^{:start [15 1 186], :end [19 2 244]}
 {:tag :fragment-definition
  :name ^{:start [15 10 195], :end [15 22 207]} pageFragment
  :on
  ^{:start [15 23 208], :end [15 30 215]}
  {:tag :basic-type
   :name ^{:start [15 26 211], :end [15 30 215]} Page}
  :selection-set
  [^{:start [16 3 220], :end [18 4 242]}
   {:tag :selection-field
    :name ^{:start [16 3 220], :end [16 9 226]} likers
    :selection-set
    [^{:start [17 5 233], :end [17 10 238]}
     {:tag :selection-field
      :name ^{:start [17 5 233], :end [17 10 238]} count}]}]}]