^{:start [1 1 0], :end [10 1 143]}
[^{:start [2 1 33], :end [9 2 142]}
 {:tag :selection-set
  :selection-set
  [^{:start [3 3 37], :end [8 4 140]}
   {:tag :selection-field
    :name ^{:start [3 3 37], :end [3 7 41]} user
    :arguments
    [^{:start [3 8 42], :end [3 13 47]}
     {:tag :argument
      :name ^{:start [3 8 42], :end [3 10 44]} id
      :value
      ^{:start [3 12 46], :end [3 13 47]}
      {:tag :int-value
       :image "4"
       :value 4}}]
    :selection-set
    [^{:start [4 5 55], :end [4 7 57]}
     {:tag :selection-field
      :name ^{:start [4 5 55], :end [4 7 57]} id}
     ^{:start [5 5 62], :end [5 9 66]}
     {:tag :selection-field
      :name ^{:start [5 5 62], :end [5 9 66]} name}
     ^{:start [6 5 71], :end [6 35 101]}
     {:tag :selection-field
      :name ^{:start [6 15 81], :end [6 25 91]} profilePic
      :alias ^{:start [6 5 71], :end [6 13 79]} smallPic
      :arguments
      [^{:start [6 26 92], :end [6 34 100]}
       {:tag :argument
        :name ^{:start [6 26 92], :end [6 30 96]} size
        :value
        ^{:start [6 32 98], :end [6 34 100]}
        {:tag :int-value
         :image "64"
         :value 64}}]}
     ^{:start [7 5 106], :end [7 35 136]}
     {:tag :selection-field
      :name ^{:start [7 13 114], :end [7 23 124]} profilePic
      :alias ^{:start [7 5 106], :end [7 11 112]} bigPic
      :arguments
      [^{:start [7 24 125], :end [7 34 135]}
       {:tag :argument
        :name ^{:start [7 24 125], :end [7 28 129]} size
        :value
        ^{:start [7 30 131], :end [7 34 135]}
        {:tag :int-value
         :image "1024"
         :value 1024}}]}]}]}]