^{:start [1 1 0], :end [17 1 246]}
[^{:start [2 1 33], :end [16 2 245]}
 {:tag :query-definition
  :name ^{:start [2 7 39], :end [2 27 59]} inlineFragmentTyping
  :selection-set
  [^{:start [3 3 64], :end [15 4 243]}
   {:tag :selection-field
    :name ^{:start [3 3 64], :end [3 11 72]} profiles
    :arguments
    [^{:start [3 12 73], :end [3 41 102]}
     {:tag :argument
      :name ^{:start [3 12 73], :end [3 19 80]} handles
      :value
      ^{:start [3 21 82], :end [3 41 102]}
      {:tag :list-value
       :values
       [^{:start [3 22 83], :end [3 28 89]}
        {:tag :string-value
         :image "\"zuck\""
         :value "zuck"}
        ^{:start [3 30 91], :end [3 40 101]}
        {:tag :string-value
         :image "\"cocacola\""
         :value "cocacola"}]}}]
    :selection-set
    [^{:start [4 5 110], :end [4 11 116]}
     {:tag :selection-field
      :name ^{:start [4 5 110], :end [4 11 116]} handle}
     ^{:start [5 5 121], :end [9 6 178]}
     {:tag :inline-fragment
      :on
      ^{:start [5 9 125], :end [5 16 132]}
      {:tag :basic-type
       :name ^{:start [5 12 128], :end [5 16 132]} User}
      :selection-set
      [^{:start [6 7 141], :end [8 8 172]}
       {:tag :selection-field
        :name ^{:start [6 7 141], :end [6 14 148]} friends
        :selection-set
        [^{:start [7 9 159], :end [7 14 164]}
         {:tag :selection-field
          :name ^{:start [7 9 159], :end [7 14 164]} count}]}]}
     ^{:start [10 5 183], :end [14 6 239]}
     {:tag :inline-fragment
      :on
      ^{:start [10 9 187], :end [10 16 194]}
      {:tag :basic-type
       :name ^{:start [10 12 190], :end [10 16 194]} Page}
      :selection-set
      [^{:start [11 7 203], :end [13 8 233]}
       {:tag :selection-field
        :name ^{:start [11 7 203], :end [11 13 209]} likers
        :selection-set
        [^{:start [12 9 220], :end [12 14 225]}
         {:tag :selection-field
          :name ^{:start [12 9 220], :end [12 14 225]} count}]}]}]}]}]