^{:start [1 1 0], :end [9 1 134]}
[^{:start [2 1 15], :end [8 2 133]}
 {:tag :query-definition
  :name ^{:start [2 7 21], :end [2 21 35]} getZuckProfile
  :selection-set
  [^{:start [3 3 61], :end [7 4 131]}
   {:tag :selection-field
    :name ^{:start [3 3 61], :end [3 7 65]} user
    :arguments
    [^{:start [3 8 66], :end [3 13 71]}
     {:tag :argument
      :name ^{:start [3 8 66], :end [3 10 68]} id
      :value
      ^{:start [3 12 70], :end [3 13 71]}
      {:tag :int-value
       :image "4"
       :value 4}}]
    :selection-set
    [^{:start [4 5 79], :end [4 7 81]}
     {:tag :selection-field
      :name ^{:start [4 5 79], :end [4 7 81]} id}
     ^{:start [5 5 86], :end [5 9 90]}
     {:tag :selection-field
      :name ^{:start [5 5 86], :end [5 9 90]} name}
     ^{:start [6 5 95], :end [6 37 127]}
     {:tag :selection-field
      :name ^{:start [6 5 95], :end [6 15 105]} profilePic
      :arguments
      [^{:start [6 16 106], :end [6 36 126]}
       {:tag :argument
        :name ^{:start [6 16 106], :end [6 20 110]} size
        :value
        ^{:start [6 22 112], :end [6 36 126]}
        {:tag :variable-reference
         :name ^{:start [6 23 113], :end [6 36 126]} devicePicSize}}]}]}]
  :variable-definitions
  [^{:start [2 22 36], :end [2 41 55]}
   {:tag :variable-definition
    :name ^{:start [2 23 37], :end [2 36 50]} devicePicSize
    :type
    ^{:start [2 38 52], :end [2 41 55]}
    {:tag :basic-type
     :name ^{:start [2 38 52], :end [2 41 55]} Int}}]}]