^{:start [1 1 0], :end [17 1 226]}
[^{:start [1 1 0], :end [10 2 155]}
 {:tag :query-definition
  :name ^{:start [1 7 6], :end [1 20 19]} withFragments
  :selection-set
  [^{:start [2 3 24], :end [9 4 153]}
   {:tag :selection-field
    :name ^{:start [2 3 24], :end [2 7 28]} user
    :arguments
    [^{:start [2 8 29], :end [2 13 34]}
     {:tag :argument
      :name ^{:start [2 8 29], :end [2 10 31]} id
      :value
      ^{:start [2 12 33], :end [2 13 34]}
      {:tag :int-value
       :image "4"
       :value 4}}]
    :selection-set
    [^{:start [3 5 42], :end [5 6 90]}
     {:tag :selection-field
      :name ^{:start [3 5 42], :end [3 12 49]} friends
      :arguments
      [^{:start [3 13 50], :end [3 22 59]}
       {:tag :argument
        :name ^{:start [3 13 50], :end [3 18 55]} first
        :value
        ^{:start [3 20 57], :end [3 22 59]}
        {:tag :int-value
         :image "10"
         :value 10}}]
      :selection-set
      [^{:start [4 7 69], :end [4 22 84]}
       {:tag :fragment-spread
        :name ^{:start [4 10 72], :end [4 22 84]} friendFields}]}
     ^{:start [6 5 95], :end [8 6 149]}
     {:tag :selection-field
      :name ^{:start [6 5 95], :end [6 18 108]} mutualFriends
      :arguments
      [^{:start [6 19 109], :end [6 28 118]}
       {:tag :argument
        :name ^{:start [6 19 109], :end [6 24 114]} first
        :value
        ^{:start [6 26 116], :end [6 28 118]}
        {:tag :int-value
         :image "10"
         :value 10}}]
      :selection-set
      [^{:start [7 7 128], :end [7 22 143]}
       {:tag :fragment-spread
        :name ^{:start [7 10 131], :end [7 22 143]} friendFields}]}]}]}
 ^{:start [12 1 157], :end [16 2 225]}
 {:tag :fragment-definition
  :name ^{:start [12 10 166], :end [12 22 178]} friendFields
  :on
  ^{:start [12 23 179], :end [12 30 186]}
  {:tag :basic-type
   :name ^{:start [12 26 182], :end [12 30 186]} User}
  :selection-set
  [^{:start [13 3 191], :end [13 5 193]}
   {:tag :selection-field
    :name ^{:start [13 3 191], :end [13 5 193]} id}
   ^{:start [14 3 196], :end [14 7 200]}
   {:tag :selection-field
    :name ^{:start [14 3 196], :end [14 7 200]} name}
   ^{:start [15 3 203], :end [15 23 223]}
   {:tag :selection-field
    :name ^{:start [15 3 203], :end [15 13 213]} profilePic
    :arguments
    [^{:start [15 14 214], :end [15 22 222]}
     {:tag :argument
      :name ^{:start [15 14 214], :end [15 18 218]} size
      :value
      ^{:start [15 20 220], :end [15 22 222]}
      {:tag :int-value
       :image "50"
       :value 50}}]}]}]