^{:start [1 1 0], :end [15 1 233]}
[^{:start [2 1 13], :end [4 2 74]}
 {:tag :query-definition
  :name ^{:start [2 7 19], :end [2 8 20]} A
  :selection-set
  [^{:start [3 3 49], :end [3 26 72]}
   {:tag :fragment-spread
    :name ^{:start [3 6 52], :end [3 26 72]} HouseTrainedFragment}]
  :variable-definitions
  [^{:start [2 9 21], :end [2 31 43]}
   {:tag :variable-definition
    :name ^{:start [2 10 22], :end [2 22 34]} atOtherHomes
    :type
    ^{:start [2 24 36], :end [2 31 43]}
    {:tag :basic-type
     :name ^{:start [2 24 36], :end [2 31 43]} Boolean}}]}
 ^{:start [6 1 76], :end [8 2 137]}
 {:tag :query-definition
  :name ^{:start [6 7 82], :end [6 8 83]} B
  :selection-set
  [^{:start [7 3 112], :end [7 26 135]}
   {:tag :fragment-spread
    :name ^{:start [7 6 115], :end [7 26 135]} HouseTrainedFragment}]
  :variable-definitions
  [^{:start [6 9 84], :end [6 31 106]}
   {:tag :variable-definition
    :name ^{:start [6 10 85], :end [6 22 97]} atOtherHomes
    :type
    ^{:start [6 24 99], :end [6 31 106]}
    {:tag :basic-type
     :name ^{:start [6 24 99], :end [6 31 106]} Boolean}}]}
 ^{:start [10 1 139], :end [14 2 232]}
 {:tag :fragment-definition
  :name ^{:start [10 10 148], :end [10 30 168]} HouseTrainedFragment
  :selection-set
  [^{:start [11 3 173], :end [13 4 230]}
   {:tag :selection-field
    :name ^{:start [11 3 173], :end [11 6 176]} dog
    :selection-set
    [^{:start [12 5 183], :end [12 48 226]}
     {:tag :selection-field
      :name ^{:start [12 5 183], :end [12 19 197]} isHousetrained
      :arguments
      [^{:start [12 20 198], :end [12 47 225]}
       {:tag :argument
        :name ^{:start [12 20 198], :end [12 32 210]} atOtherHomes
        :value
        ^{:start [12 34 212], :end [12 47 225]}
        {:tag :variable-reference
         :name ^{:start [12 35 213], :end [12 47 225]} atOtherHomes}}]}]}]}]