^{:start [1 1 0], :end [5 2 60]}
[^{:start [1 1 0], :end [5 2 60]}
 {:tag :mutation
  :selection-set
  [^{:start [2 1 10], :end [4 2 58]}
   {:tag :selection-field
    :name ^{:start [2 1 10], :end [2 12 21]} createHuman
    :arguments
    [^{:start [2 14 23], :end [2 28 37]}
     {:tag :argument
      :name ^{:start [2 14 23], :end [2 18 27]} name
      :value
      ^{:start [2 19 28], :end [2 28 37]}
      {:tag :variable-reference
       :name ^{:start [2 20 29], :end [2 28 37]} testname}}
     ^{:start [2 30 39], :end [2 40 49]}
     {:tag :argument
      :name ^{:start [2 30 39], :end [2 37 46]} friends
      :value
      ^{:start [2 38 47], :end [2 40 49]}
      {:tag :list-value
       :values
       []}}]
    :selection-set
    [^{:start [3 2 54], :end [3 4 56]}
     {:tag :selection-field
      :name ^{:start [3 2 54], :end [3 4 56]} id}]}]}]