^{:start [1 1 0], :end [7 2 86]}
[^{:start [1 1 0], :end [7 2 86]}
 {:tag :selection-set
  :selection-set
  [^{:start [2 4 5], :end [6 5 84]}
   {:tag :selection-field
    :name ^{:start [2 4 5], :end [2 9 10]} human
    :arguments
    [^{:start [2 10 11], :end [2 18 19]}
     {:tag :argument
      :name ^{:start [2 10 11], :end [2 12 13]} id
      :value
      ^{:start [2 14 15], :end [2 18 19]}
      {:tag :int-value
       :image "1000"
       :value 1000}}]
    :selection-set
    [^{:start [3 6 28], :end [3 10 32]}
     {:tag :selection-field
      :name ^{:start [3 6 28], :end [3 10 32]} name}
     ^{:start [4 6 38], :end [4 24 56]}
     {:tag :selection-field
      :name ^{:start [4 6 38], :end [4 12 44]} height
      :arguments
      [^{:start [4 13 45], :end [4 23 55]}
       {:tag :argument
        :name ^{:start [4 13 45], :end [4 17 49]} unit
        :value
        ^{:start [4 19 51], :end [4 23 55]}
        {:tag :enum-value
         :image "FOOT"
         :value FOOT}}]}
     ^{:start [5 6 62], :end [5 23 79]}
     {:tag :selection-field
      :name ^{:start [5 6 62], :end [5 12 68]} weight
      :arguments
      [^{:start [5 13 69], :end [5 22 78]}
       {:tag :argument
        :name ^{:start [5 13 69], :end [5 18 74]} above
        :value
        ^{:start [5 19 75], :end [5 22 78]}
        {:tag :int-value
         :image "100"
         :value 100}}]}]}]}]