^{:start [1 1 0], :end [18 1 255]}
[^{:start [2 1 29], :end [11 2 184]}
 {:tag :query-definition
  :name ^{:start [2 7 35], :end [2 20 48]} withFragments
  :selection-set
  [^{:start [3 3 53], :end [10 4 182]}
   {:tag :selection-field
    :name ^{:start [3 3 53], :end [3 7 57]} user
    :arguments
    [^{:start [3 8 58], :end [3 13 63]}
     {:tag :argument
      :name ^{:start [3 8 58], :end [3 10 60]} id
      :value
      ^{:start [3 12 62], :end [3 13 63]}
      {:tag :int-value
       :image "4"
       :value 4}}]
    :selection-set
    [^{:start [4 5 71], :end [6 6 119]}
     {:tag :selection-field
      :name ^{:start [4 5 71], :end [4 12 78]} friends
      :arguments
      [^{:start [4 13 79], :end [4 22 88]}
       {:tag :argument
        :name ^{:start [4 13 79], :end [4 18 84]} first
        :value
        ^{:start [4 20 86], :end [4 22 88]}
        {:tag :int-value
         :image "10"
         :value 10}}]
      :selection-set
      [^{:start [5 7 98], :end [5 22 113]}
       {:tag :fragment-spread
        :name ^{:start [5 10 101], :end [5 22 113]} friendFields}]}
     ^{:start [7 5 124], :end [9 6 178]}
     {:tag :selection-field
      :name ^{:start [7 5 124], :end [7 18 137]} mutualFriends
      :arguments
      [^{:start [7 19 138], :end [7 28 147]}
       {:tag :argument
        :name ^{:start [7 19 138], :end [7 24 143]} first
        :value
        ^{:start [7 26 145], :end [7 28 147]}
        {:tag :int-value
         :image "10"
         :value 10}}]
      :selection-set
      [^{:start [8 7 157], :end [8 22 172]}
       {:tag :fragment-spread
        :name ^{:start [8 10 160], :end [8 22 172]} friendFields}]}]}]}
 ^{:start [13 1 186], :end [17 2 254]}
 {:tag :fragment-definition
  :name ^{:start [13 10 195], :end [13 22 207]} friendFields
  :on
  ^{:start [13 23 208], :end [13 30 215]}
  {:tag :basic-type
   :name ^{:start [13 26 211], :end [13 30 215]} User}
  :selection-set
  [^{:start [14 3 220], :end [14 5 222]}
   {:tag :selection-field
    :name ^{:start [14 3 220], :end [14 5 222]} id}
   ^{:start [15 3 225], :end [15 7 229]}
   {:tag :selection-field
    :name ^{:start [15 3 225], :end [15 7 229]} name}
   ^{:start [16 3 232], :end [16 23 252]}
   {:tag :selection-field
    :name ^{:start [16 3 232], :end [16 13 242]} profilePic
    :arguments
    [^{:start [16 14 243], :end [16 22 251]}
     {:tag :argument
      :name ^{:start [16 14 243], :end [16 18 247]} size
      :value
      ^{:start [16 20 249], :end [16 22 251]}
      {:tag :int-value
       :image "50"
       :value 50}}]}]}]