^{:start [1 1 0], :end [9 1 110]}
[^{:start [1 1 0], :end [8 2 109]}
 {:tag :selection-set
  :selection-set
  [^{:start [2 3 4], :end [7 4 107]}
   {:tag :selection-field
    :name ^{:start [2 3 4], :end [2 7 8]} user
    :arguments
    [^{:start [2 8 9], :end [2 13 14]}
     {:tag :argument
      :name ^{:start [2 8 9], :end [2 10 11]} id
      :value
      ^{:start [2 12 13], :end [2 13 14]}
      {:tag :int-value
       :image "4"
       :value 4}}]
    :selection-set
    [^{:start [3 5 22], :end [3 7 24]}
     {:tag :selection-field
      :name ^{:start [3 5 22], :end [3 7 24]} id}
     ^{:start [4 5 29], :end [4 9 33]}
     {:tag :selection-field
      :name ^{:start [4 5 29], :end [4 9 33]} name}
     ^{:start [5 5 38], :end [5 35 68]}
     {:tag :selection-field
      :name ^{:start [5 15 48], :end [5 25 58]} profilePic
      :alias ^{:start [5 5 38], :end [5 13 46]} smallPic
      :arguments
      [^{:start [5 26 59], :end [5 34 67]}
       {:tag :argument
        :name ^{:start [5 26 59], :end [5 30 63]} size
        :value
        ^{:start [5 32 65], :end [5 34 67]}
        {:tag :int-value
         :image "64"
         :value 64}}]}
     ^{:start [6 5 73], :end [6 35 103]}
     {:tag :selection-field
      :name ^{:start [6 13 81], :end [6 23 91]} profilePic
      :alias ^{:start [6 5 73], :end [6 11 79]} bigPic
      :arguments
      [^{:start [6 24 92], :end [6 34 102]}
       {:tag :argument
        :name ^{:start [6 24 92], :end [6 28 96]} size
        :value
        ^{:start [6 30 98], :end [6 34 102]}
        {:tag :int-value
         :image "1024"
         :value 1024}}]}]}]}]