^{:start [1 1 0], :end [22 1 321]}
[^{:start [2 1 24], :end [11 2 185]}
 {:tag :query-definition
  :name ^{:start [2 7 30], :end [2 26 49]} withNestedFragments
  :selection-set
  [^{:start [3 3 54], :end [10 4 183]}
   {:tag :selection-field
    :name ^{:start [3 3 54], :end [3 7 58]} user
    :arguments
    [^{:start [3 8 59], :end [3 13 64]}
     {:tag :argument
      :name ^{:start [3 8 59], :end [3 10 61]} id
      :value
      ^{:start [3 12 63], :end [3 13 64]}
      {:tag :int-value
       :image "4"
       :value 4}}]
    :selection-set
    [^{:start [4 5 72], :end [6 6 120]}
     {:tag :selection-field
      :name ^{:start [4 5 72], :end [4 12 79]} friends
      :arguments
      [^{:start [4 13 80], :end [4 22 89]}
       {:tag :argument
        :name ^{:start [4 13 80], :end [4 18 85]} first
        :value
        ^{:start [4 20 87], :end [4 22 89]}
        {:tag :int-value
         :image "10"
         :value 10}}]
      :selection-set
      [^{:start [5 7 99], :end [5 22 114]}
       {:tag :fragment-spread
        :name ^{:start [5 10 102], :end [5 22 114]} friendFields}]}
     ^{:start [7 5 125], :end [9 6 179]}
     {:tag :selection-field
      :name ^{:start [7 5 125], :end [7 18 138]} mutualFriends
      :arguments
      [^{:start [7 19 139], :end [7 28 148]}
       {:tag :argument
        :name ^{:start [7 19 139], :end [7 24 144]} first
        :value
        ^{:start [7 26 146], :end [7 28 148]}
        {:tag :int-value
         :image "10"
         :value 10}}]
      :selection-set
      [^{:start [8 7 158], :end [8 22 173]}
       {:tag :fragment-spread
        :name ^{:start [8 10 161], :end [8 22 173]} friendFields}]}]}]}
 ^{:start [13 1 187], :end [17 2 256]}
 {:tag :fragment-definition
  :name ^{:start [13 10 196], :end [13 22 208]} friendFields
  :on
  ^{:start [13 23 209], :end [13 30 216]}
  {:tag :basic-type
   :name ^{:start [13 26 212], :end [13 30 216]} User}
  :selection-set
  [^{:start [14 3 221], :end [14 5 223]}
   {:tag :selection-field
    :name ^{:start [14 3 221], :end [14 5 223]} id}
   ^{:start [15 3 226], :end [15 7 230]}
   {:tag :selection-field
    :name ^{:start [15 3 226], :end [15 7 230]} name}
   ^{:start [16 3 233], :end [16 24 254]}
   {:tag :fragment-spread
    :name ^{:start [16 6 236], :end [16 24 254]} standardProfilePic}]}
 ^{:start [19 1 258], :end [21 2 320]}
 {:tag :fragment-definition
  :name ^{:start [19 10 267], :end [19 28 285]} standardProfilePic
  :on
  ^{:start [19 29 286], :end [19 36 293]}
  {:tag :basic-type
   :name ^{:start [19 32 289], :end [19 36 293]} User}
  :selection-set
  [^{:start [20 3 298], :end [20 23 318]}
   {:tag :selection-field
    :name ^{:start [20 3 298], :end [20 13 308]} profilePic
    :arguments
    [^{:start [20 14 309], :end [20 22 317]}
     {:tag :argument
      :name ^{:start [20 14 309], :end [20 18 313]} size
      :value
      ^{:start [20 20 315], :end [20 22 317]}
      {:tag :int-value
       :image "50"
       :value 50}}]}]}]