{:tag :schema
 :type-system-definitions
 [^{:start [1 1 0], :end [1 23 22]}
  {:tag :union-definition
   :name ^{:start [1 7 6], :end [1 12 11]} Hello
   :members
   [^{:start [1 15 14], :end [1 17 16]}
    {:tag :basic-type
     :name ^{:start [1 15 14], :end [1 17 16]} Wo}
    ^{:start [1 20 19], :end [1 23 22]}
    {:tag :basic-type
     :name ^{:start [1 20 19], :end [1 23 22]} Rld}]}]}