{:tag :schema
 :type-system-definitions
 [^{:start [1 1 0], :end [1 36 35]}
  {:tag :union-definition
   :name ^{:start [1 7 6], :end [1 19 18]} SearchResult
   :members
   [^{:start [1 22 21], :end [1 27 26]}
    {:tag :basic-type
     :name ^{:start [1 22 21], :end [1 27 26]} Photo}
    ^{:start [1 30 29], :end [1 36 35]}
    {:tag :basic-type
     :name ^{:start [1 30 29], :end [1 36 35]} Person}]}
  ^{:start [3 1 37], :end [6 2 74]}
  {:tag :type-definition
   :name ^{:start [3 6 42], :end [3 12 48]} Person
   :fields
   [^{:start [4 1 51], :end [4 13 63]}
    {:tag :type-field
     :name ^{:start [4 1 51], :end [4 5 55]} name
     :type
     ^{:start [4 7 57], :end [4 13 63]}
     {:tag :basic-type
      :name ^{:start [4 7 57], :end [4 13 63]} String}}
    ^{:start [5 1 64], :end [5 9 72]}
    {:tag :type-field
     :name ^{:start [5 1 64], :end [5 4 67]} age
     :type
     ^{:start [5 6 69], :end [5 9 72]}
     {:tag :basic-type
      :name ^{:start [5 6 69], :end [5 9 72]} Int}}]}
  ^{:start [8 1 76], :end [11 2 113]}
  {:tag :type-definition
   :name ^{:start [8 6 81], :end [8 11 86]} Photo
   :fields
   [^{:start [9 1 89], :end [9 12 100]}
    {:tag :type-field
     :name ^{:start [9 1 89], :end [9 7 95]} height
     :type
     ^{:start [9 9 97], :end [9 12 100]}
     {:tag :basic-type
      :name ^{:start [9 9 97], :end [9 12 100]} Int}}
    ^{:start [10 1 101], :end [10 11 111]}
    {:tag :type-field
     :name ^{:start [10 1 101], :end [10 6 106]} width
     :type
     ^{:start [10 8 108], :end [10 11 111]}
     {:tag :basic-type
      :name ^{:start [10 8 108], :end [10 11 111]} Int}}]}
  ^{:start [13 1 115], :end [15 2 167]}
  {:tag :type-definition
   :name ^{:start [13 6 120], :end [13 17 131]} SearchQuery
   :fields
   [^{:start [14 1 134], :end [14 32 165]}
    {:tag :type-field
     :name ^{:start [14 1 134], :end [14 18 151]} firstSearchResult
     :type
     ^{:start [14 20 153], :end [14 32 165]}
     {:tag :basic-type
      :name ^{:start [14 20 153], :end [14 32 165]} SearchResult}}]}]}