{:tag :schema
 :type-system-definitions
 [^{:start [1 1 0], :end [1 39 38]}
  {:tag :union-definition
   :name ^{:start [1 7 6], :end [1 19 18]} SearchResult
   :members
   [^{:start [1 22 21], :end [1 28 27]}
    {:tag :basic-type
     :name ^{:start [1 22 21], :end [1 28 27]} Person}
    ^{:start [1 31 30], :end [1 39 38]}
    {:tag :basic-type
     :name ^{:start [1 31 30], :end [1 39 38]} Business}]}]}