{:tag :schema
 :type-system-definitions
 [^{:start [1 1 0], :end [3 2 35]}
  {:tag :interface-definition
   :name ^{:start [1 11 10], :end [1 16 15]} Hello
   :fields
   [^{:start [2 3 20], :end [2 16 33]}
    {:tag :type-field
     :name ^{:start [2 3 20], :end [2 8 25]} world
     :type
     ^{:start [2 10 27], :end [2 16 33]}
     {:tag :basic-type
      :name ^{:start [2 10 27], :end [2 16 33]} String}}]}]}