{:tag :schema
 :type-system-definitions
 [^{:start [1 1 0], :end [4 5 51]}
  {:tag :input-definition
   :name ^{:start [1 7 6], :end [1 12 11]} Hello
   :fields
   [^{:start [2 5 18], :end [2 19 32]}
    {:tag :type-field
     :name ^{:start [2 5 18], :end [2 10 23]} world
     :type
     ^{:start [2 12 25], :end [2 19 32]}
     {:tag :basic-type
      :name ^{:start [2 12 25], :end [2 18 31]} String
      :required true}}
    ^{:start [3 5 37], :end [3 14 46]}
    {:tag :type-field
     :name ^{:start [3 5 37], :end [3 9 41]} this
     :type
     ^{:start [3 11 43], :end [3 14 46]}
     {:tag :basic-type
      :name ^{:start [3 11 43], :end [3 14 46]} Int}}]}]}