{:tag :schema
 :type-system-definitions
 [^{:start [1 1 0], :end [3 2 41]}
  {:tag :input-definition
   :name ^{:start [1 7 6], :end [1 12 11]} Hello
   :fields
   [^{:start [2 3 16], :end [2 26 39]}
    {:tag :type-field
     :name ^{:start [2 3 16], :end [2 8 21]} world
     :type
     ^{:start [2 20 33], :end [2 26 39]}
     {:tag :basic-type
      :name ^{:start [2 20 33], :end [2 26 39]} String}
     :arguments
     [^{:start [2 9 22], :end [2 17 30]}
      {:tag :argument-definition
       :name ^{:start [2 9 22], :end [2 12 25]} foo
       :type
       ^{:start [2 14 27], :end [2 17 30]}
       {:tag :basic-type
        :name ^{:start [2 14 27], :end [2 17 30]} Int}}]}]}]}